# Byte-compiled / cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# Logs
*.log

# Secrets
.env

# Outputs
*.csv
*.xlsx
*.json

# VSCode
.vscode/

# Pycharm
.idea/
